body {
  font: 12px sans-serif;
}
#legend {
	font: 12px sans-serif;
}

.tick > line {
	fill: none;
	stroke: black;
}
.tick > text {
	fill: black;
}

path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}

#wrapper {
	clear:both;
	margin: auto;
	width: 55%;
}
#chart1 {
  float:left;
}
#sideText1{
	float:left;
}
#chart3 {
	float:left;
	margin-top: 30px;
	margin-left: 20px;
}

.red {
	fill:red;
}
.yellow {
	fill: yellow;
}
.orange {
	fill: orange;
}
.non_brushed {
	fill: grey;
}

#chart1Title {
	font-weight: bold;
	font-size: 15px;
	margin-top: 50px;
	margin-left: 150px;
}
#cutoffButton1 {
	float: left;
}
.bar{
	fill:blue;
}
.leftAlign {
	float: left;
	margin-left: 15px;
  }

#chart1>svg>.gClass:hover> rect {
	fill: black;
}
#chart1>svg>.gClass:hover> text {
	font-weight: bold;
}
